{% block content %}
<nav
  id="main-nav"
  class="navbar navbar-expand-lg navbar-dark fixed-top"
  style="background-color: #1a1a1a;"
>
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">EduMate</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            <li 
            {% if 'profiles' in request.path %}
                class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %}
            >
            {% if not 'teacher' in request.path %}
            <a class="nav-link" href="{% url 'index' %}" title="Dashboard"
                ><i class="fa fa-dashboard nav-icon"></i>
                Dashboard
                <span class="sr-only">(current)</span></a
            >
            {% endif %}
            </li>
        {% else %}
            <li 
            {% if '/' == request.path %}
                class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'index' %}" title="Home"
                ><i class="fa fa-home nav-icon"></i>
                Home
                <span class="sr-only">(current)</span></a
            >
            </li>
            <!-- <li 
            {% if 'about' in request.path %}
                class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %}
            >
            <a class="nav-link ml-2" href="{% url 'about' %}" title="About">
                <i class="fa fa-info mt-1 nav-icon-info"></i>
                About
            </a>
            </li> -->
        {% endif %}
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}" title="Logout">
                <i class="fa fa-sign-out nav-icon"></i>
                Logout
            </a>
            </li>
            <!-- Credit to Brad Traversy -->
            <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
            </form>
        {% else %}
            <li
            {% if 'register' in request.path %}
                class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'register' %}" title="Sign Up">
                <i class="fa fa-user-plus nav-icon"></i>
                Register
            </a>
            </li>
            <li
            {% if 'login' in request.path %}
                class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %}
            >
            <a class="nav-link mr-2" href="{% url 'login' %}" title="Login">
                <i class="fa fa-sign-in nav-icon"></i>
                Login
            </a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
