{% extends 'base.html' %} {% load static %}

{% block content %}
    <script src="{% static 'js/assignments.js' %}"></script>

    !-- Modal for adding assignments -->
    {% include 'profiles/addAssignmentModal.html' %}

    !-- Modal for adding tasks -->
    {% include 'accounts/addTaskTeacher.html' %}

    <div class="dash-bg">
         <div class="text-center w-100" style="position:absolute">
            <div class="container">
                <h1 class="display-4" style="margin-top: 100px">
                    Welcome, {{teacher.first_name}}
                </h1>

                <p class="mt-3">
                    {% if modules %}
                        These are the modules you've been given access to:
                    {% else %}
                        You haven't been given access to any modules yet.
                    {% endif %}
                </p>

                <!-- Module Area -->
                {% if modules %}
                <section id="teacher-module-area">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            {% for module in modules %}
                            <a 
                            class="teacher-module-bar" 
                            data-toggle="collapse" 
                            href="#teacher-module-{{ module.id }}"
                            {{ module.style }}
                            >
                                <span>
                                    <span style="font-size: 1.5rem; font-weight: normal">
                                        <i class="fa {{ module.icon }}"></i>
                                        {{ module.name }}
    
                                        <!-- Add assignment button -->
                                        <button 
                                        class="float-right teacher-add-assignment"
                                        module-id="{{module.id}}"
                                        data-toggle="modal"
                                        data-target="#add-assignment-modal"
                                        title="Add assignment to {{module.name}}"
                                        >
                                            <i class="fa fa-plus-circle mr-2"></i>
                                        </button>
                                        <!-- End of assignment button -->
                                    </span>
                                    <br>
                                    <i class="fa fa-user"></i>
                                    {{module.profile.account.first_name}} {{module.profile.account.last_name}}
                                </span>
                            </a>
    
                            <!-- Assignments -->
                            <div 
                            id="teacher-module-{{ module.id }}" 
                            class="panel-collapse collapse"
                            >
                                <div class="panel-body">
                                    <a href="">
                                        {% for assignment in module.assignments %}
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    <!-- Header -->
                                                    <a 
                                                    data-toggle="collapse"
                                                    href="#teacher-assignment-{{ assignment.id }}" 
                                                    class="d-block w-100 pl-3 mb-1"
                                                    >
                                                        {{assignment.title}}
                                                        <span class="float-right mr-3">
                                                            <button 
                                                            class="teacher-add-task mr-1" 
                                                            title="Add a task to {{assignment.title}}"
                                                            data-toggle="modal"
                                                            data-target="#add-task-modal-{{assignment.id}}"
                                                            >
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </span>
                                                    </a>

                                                    <!-- Tasks -->
                                                    <div class="panel-collapse collapse pl-4" id="teacher-assignment-{{ assignment.id }}">
                                                        {% for task in assignment.tasks %}
                                                            <div class="teacher-task">
                                                                <canvas 
                                                                class="float-left"
                                                                id="teacher-task-canvas-{{task.id}}" 
                                                                width=30, 
                                                                height=30
                                                                >
                                                                    {{ task.amount_complete }}/{{ task.target }}
                                                                </canvas>

                                                                <p style="line-height:30px">{{ task.title }}</p>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <!-- End of Tasks -->
                                                </div>
                                            </div>
                                            
                                        {% endfor %}
                                    </a>
                                </div>
                            </div>
                            <!-- End of assignments -->
    
                            {% endfor %}
                        </div>

                    </div>
                </section>
                {% endif %}

            </div>
        </div>
    </div>

    <!-- Handle the progress rings -->
    {% if modules %}
        {% block javascript %}
            {% for mod in modules %}
                {% for assignment in mod.assignments %}
                    {% for task in assignment.tasks %}
                        <script>
                            displayCompletionRing(
                                "teacher-task-canvas-{{task.id}}", 
                                "{{task.amount_complete}}", 
                                "{{task.target}}", 
                                0.7,
                                "white",
                                "gray"
                            );
                        </script>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endblock %}
    {% endif %}
    <!-- End of progress rings -->

    <script src="{% static 'js/teacher.js' %}"></script>

{% endblock %}