{% load static %}
{% block content %}
<!-- Add Study Profile Modal -->
<div id="add-activity-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">New Activity</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->

                <!-- Start of modal body -->
                <div class="modal-body">

                    <form
                    id="add-activity-form"
                    validation-url="{% url 'validate_activity' %}"
                    action="{% url 'add_activity' assignment.id %}"
                    method="POST"
                    >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input
                            type="text"
                            class="form-control"
                            name="name"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->


                        <!-- Study Type -->
                        <div class="form-group">
                            <label for="atype">Type</label>
                            <div class="form-group">
                                <select name="atype" class="form-control">
                                    {% for type in types %}
                                        <option
                                            value="{{ type.1 }}"
                                            name="{{ type.1 }}"
                                            required
                                            {% if forloop.first %}
                                            selected
                                            {% endif %}
                                        >{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contribution">Contribution</label>
                            <input
                            type="number"
                            min = "0"
                            class="form-control"
                            name="contribution"
                            placeholder = "Enter a Number"
                            required
                            />
                        </div>

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->

                        <!-- Validation title -->
                        {% if errors.title %}
                        <p class="text-danger small" style="margin-top: -10px">
                            {{ errors.title }}
                        </p>
                        {% endif%}
                        <!-- End Validation title -->

                        <!-- Associated Tasks -->
                        <label for="task">Associated Tasks</label>
                        <select multiple name="task" class="form-control mb-2">
                            {% for task in assignment.tasks %}
                                <option 
                                    value="{{ task.id }}"
                                    {% if forloop.first %}
                                    selected
                                    {% endif %}
                                >{{ task.title }} ({{ task.study_type }})</option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="btn btn-block btn-warning mt-2">
                            Create Activity
                        </button>


                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Add Study Profile modal -->

    <script src="{% static 'js/validation.js' %}"></script>

    {% block javascript %}
        <script>
            validate("#add-activity-form");
        </script>
    {% endblock %}
{% endblock %}