{% block content %}

{% for activity in assignment.activities %}
<!-- View Activity Modal -->
<div id="view-activity-modal-{{activity.id}}" class="modal fade vmm" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">{{activity.name}}</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->

                <!-- Start of modal body -->
                <div class="modal-body">


                    <h6 class="text-secondary"> 
                      <i class="fa fa-book mr-1"></i>
                      Type 

                      <!-- Action buttons -->
                      <div class="activity-action-buttons float-right mr-3">
                          <a 
                          style="pointer-events: all"
                          href="#edit-activity-modal"
                          class="edit-activity-button mr-2"
                          data-toggle="modal"
                          data-dismiss="modal"
                          activity-name="{{ activity.name }}"
                          activity-id="{{ activity.id }}"
                          activity-contribution="{{ activity.contribution }}"
                          >
                              <i class="fa fa-edit text-info"></i>
                              Edit
                          </a>
  
                          <a 
                          style="pointer-events: all"
                          href="#delete-activity-modal"
                          class="delete-activity-button"
                          data-toggle="modal"
                          data-dismiss="modal"
                          activity-name="{{ activity.name }}"
                          activity-id="{{ activity.id }}"
                          >
                              <i class="fa fa-trash-o text-danger"></i>
                              Delete
                          </a>
                      </div>
                      <!-- End of action buttons -->
                    </h6>
                    <!-- Type -->
                    {{ activity.study_type_fmt }}
                    <br>
                    <br>
                    <h6 class="text-secondary"> 
                      <i class="fa fa-tasks"></i>
                      Associated Tasks 
                    </h6>
                    <!-- List of tasks-->
                    <ul class="pl-4">
                      {% for task in activity.associated_tasks.all %}
                      <li>
                        {{ task.completion }}%
                        - <span class="font-weight-bold">"{{ task.title }}"</span>
                         due on 
                         <span class="font-weight-bold">{{ task.end_date | date:'d/m/y' }}</span> at 
                         <span class="font-weight-bold">{{ task.end_date | date:'H:i A'}}</span>
                      </li>
                      {% endfor %}
                    </ul>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End View Activity modal -->
{% endfor %}
{% endblock %}