{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Modal for adding semester study profiles -->
{% include 'profiles/addProfileModal.html' %}

<!-- Modal for adding assignments -->
{% include 'profiles/addAssignmentModal.html' %}

<!-- Modal for sharing modules -->
{% include 'profiles/shareModuleModal.html' %}

<!-- Modal for deleting modules -->
{% include 'profiles/deleteModuleModal.html' %}

<!-- Modal for renaming modules -->
{% include 'profiles/renameModuleModal.html' %}

<script src="{% static 'js/piechart.js' %}"></script>

<div class="dash-bg">
    {% if not profiles %}
      <!-- Prompt user to create study profile -->
      {% include 'profiles/noProfiles.html' %}
    {% else %}
    <section id="sidebar-content">
      <div class="container">
          <p class="h5 weight-bold mb-3" style="margin-top: 70px">
              {{ user.first_name }}
              <span class="float-right">
                  <button 
                  id="add-profile" 
                  title="Create a new Study Profile"
                  data-toggle="modal" 
                  data-target="#add-profile-modal"
                  >
                    <i class="fa fa-plus-circle"></i>
                  </button>
              </span>
          </p>

          <!-- Dropdown that displays different profiles -->
          <select class="form-control" id="profile-select" style="height: 50%;">
            {% for profile in profiles %}
                <option
                 data-target="#profile-{{ profile.id }}" 
                 value="{{ profile.title }}"
                 {% if forloop.last %}
                   selected
                 {% endif %}
                >{{ profile.title }}</option>
            {% endfor %}
          </select>
          <!-- End of dropdown -->
        
          <div class="row">
              <div class="col">
                  <p class="weight-bold mt-3 mt-lg-1">
                      <i class="fa fa-cubes"></i>
                      Modules
                  </p>
              </div>
          </div>

          <div class="row extra-info">
                <div class="col">
                    <p class="weight-bold mt-3">
                        <i class="fa fa-info-circle mr-1"></i>
                        Extra Information
                    </p>
                </div>
            </div>

          <!-- Hidden tabs to controll profile display -->
          <div class="d-none">
            <ul class="nav nav-tabs">
              {% for profile in profiles %}
                <li>
                    <a 
                    data-toggle="tab" 
                    {% if forloop.last %}
                      class="active"
                    {% endif %}
                    href="#profile-{{ profile.id }}"
                    ></a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- End of hidden tabs -->
      </div>
  </section>

  <!-- Start of profile content area -->
  <div class="profile-bg">
     <div class="tab-content">
        {% for profile in profiles %}   
          <div 
          {% if forloop.last %}
            class="tab-pane fade in show active"
          {% else %}
            class="tab-pane fade"
          {% endif %}
          id="profile-{{ profile.id }}">

            <!-- List the modules -->
            <section class="module-list">
                <div class="container">
                    {% for module in modules %}
                      {% if module.profile == profile %}
                        <div class="panel-group">
                            <div class="panel panel-default">
                              <div 
                              class="panel-heading"
                              {{ module.style }}
                              >
                                <p class="panel-title">
                                  <a 
                                  data-toggle="collapse" 
                                  href="#module-{{ module.id }}"
                                  ><i class="fa {{ module.icon }}"></i>
                                    <span class="current-mod-name">
                                      {{ module.name }}
                                    </span>
                                  </a>

                                  <!-- Module Actions -->
                                  <span class="module-actions float-right">
                                    <a 
                                    href="#" 
                                    title="Share Module with Teacher"
                                    data-toggle="modal" 
                                    class="share-module-button"
                                    module-id="{{ module.id }}"
                                    data-target="#share-module-modal"
                                    >
                                        <i class="fa fa-share"></i>
                                    </a>
                                    <a 
                                    href="#" 
                                    title="Add Assignment"
                                    data-toggle="modal" 
                                    class="add-assignment-button"
                                    module-id="{{ module.id }}"
                                    data-target="#add-assignment-modal"
                                    >
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                    <a 
                                    href="#rename-module-modal" 
                                    data-toggle="modal"
                                    title="Rename"
                                    class="rename-module-button"
                                    module-id="{{ module.id }}"
                                    module-name="{{ module.name }}"
                                    >
                                      <i class="fa fa-edit"></i>
                                    </a>
                                    <a
                                     href="#" 
                                     title="Delete"
                                     class="delete-module-button"
                                     module-id="{{ module.id }}"
                                     module-name="{{ module.name }}"
                                     data-toggle="modal"
                                     data-target="#delete-module-modal"
                                     >
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                  </span>
                                  <!-- End of module actions -->
                                </p>
                              </div>
                              <div 
                              id="module-{{ module.id }}" 
                              class="panel-collapse collapse"
                              >
                                <div class="panel-body">
                                    <a href="">
                                        {% for assignment in assignments %}
                                            {% if assignment.module == module %}
                                                <a href="{% url 'assignment' assignment.id %}" class="d-block">
                                                    {{assignment.title}}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </a>
                                </div>
                              </div>
                            </div>
                          </div>
                      {% endif %}
                    {% endfor %}
                </div>
            </section>
            <!-- End of the list of modules -->

            <!-- Extra information -->
            {% include 'profiles/extraInfo.html' %}

            <!-- Start of the calendar area -->
            <section class="calendar-area">
                <div class="container">

                    <!-- Hidden calendar month controller -->
                    <div class="cal-control d-none">
                        <ul class="nav nav-tabs">
                            {% for d in dates %}
                            <li>
                                <a 
                                data-toggle="tab" 
                                {% if forloop.counter == 5 %}
                                    class="active"
                                {% endif %}
                                href="#{{d.month}}-{{d.year}}-{{profile.id}}"
                                >{{ d.month }} {{ d.year }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- End of hidden calendar month controller -->

                    <!-- Start of calendar tab -->
                    <div class="tab-content">
                        {% for d in dates %}
                            <div 
                            {% if forloop.counter == 5 %}
                                class="tab-pane fade out show active"
                            {% else %}
                                class="tab-pane fade"
                            {% endif %}
                            id="{{d.month}}-{{d.year}}-{{profile.id}}">
                                <div style="margin-top: 100px"></div> 
                                <p class="h5 text-center cal-head">
                                  <a class="la" href="#">&DoubleLeftArrow;</a>
                                  <span>{{d.month}} {{d.year}}</span>
                                  <a class="ra" href="#">&DoubleRightArrow;</a>
                                </p>
                                <!-- Calendar -->
                                <table class="task-cal">
                                    <thead class="text-center">
                                        <tr>
                                            <th>MON</th>
                                            <th>TUE</th>
                                            <th>WED</th>
                                            <th>THU</th>
                                            <th>FRI</th>
                                            <th>SAT</th>
                                            <th>SUN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for date in d.row0 %}
                                            <td>
                                                <p class="text-right d-block">
                                                    {{ date.day }}
                                                </p>
                                                <!-- Display tasks -->
                                                {% for task in tasks %}
                                                {% if task.profile == profile %}
                                                {% if task.start_date|date:'Y-m-d' <= date|date:'Y-m-d' %}
                                                {% if task.end_date|date:'Y-m-d' >= date|date:'Y-m-d' %}
                                                  <div 
                                                  class="task-bar d-block"
                                                  {% if task.end_date.day == date.day %}
                                                    {{ task.style }};border-bottom-right-radius:10px
                                                  {% else %}
                                                    {{ task.style }}
                                                  {% endif %}
                                                  >
                                                    {%if task.start_date.day == date.day %}
                                                      {{ task.title }}
                                                    {% else %}
                                                      &nbsp;
                                                    {% endif %}
                                                  </div>
                                                  <div class="task-info">
                                                    <div class="container">
                                                      <p class="d-block">
                                                        {{task.assignment}}
                                                      </p>  
                                                      <p class="d-block">
                                                        {{task.title}}
                                                      </p>  
                                                      {% if task.completed %}
                                                        <p 
                                                        class="h2 text-success"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_overdue %}
                                                        <p 
                                                        class="h2 text-danger"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_started %}
                                                        <p 
                                                        class="h2 text-warning"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% else %}
                                                        <p class="h2 text-dark">
                                                          {{task.completion}}%
                                                        </p>
                                                      {% endif %}
                                                    </div>
                                                  </div>
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <!-- End display tasks -->
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for date in d.row1 %}
                                            <td>
                                                <p class="text-right d-block">
                                                    {{ date.day }}
                                                </p>
                                                <!-- Display tasks -->
                                                {% for task in tasks %}
                                                {% if task.profile == profile %}
                                                {% if task.start_date|date:'Y-m-d' <= date|date:'Y-m-d' %}
                                                {% if task.end_date|date:'Y-m-d' >= date|date:'Y-m-d' %}
                                                  <div 
                                                  class="task-bar d-block"
                                                  {% if task.end_date.day == date.day %}
                                                    {{ task.style }};border-bottom-right-radius:10px
                                                  {% else %}
                                                    {{ task.style }}
                                                  {% endif %}
                                                  >
                                                    {%if task.start_date.day == date.day %}
                                                      {{ task.title }}
                                                    {% else %}
                                                      &nbsp;
                                                    {% endif %}
                                                  </div>
                                                  <div class="task-info">
                                                    <div class="container">
                                                      <p class="d-block">
                                                        {{task.assignment}}
                                                      </p>  
                                                      <p class="d-block">
                                                        {{task.title}}
                                                      </p>  
                                                      {% if task.completed %}
                                                        <p 
                                                        class="h2 text-success"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_overdue %}
                                                        <p 
                                                        class="h2 text-danger"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_started %}
                                                        <p 
                                                        class="h2 text-warning"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% else %}
                                                        <p class="h2 text-dark">
                                                          {{task.completion}}%
                                                        </p>
                                                      {% endif %}
                                                    </div>
                                                  </div>
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <!-- End display tasks -->
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for date in d.row2 %}
                                            <td>
                                                <p class="text-right d-block">
                                                    {{ date.day }}
                                                </p>
                                                <!-- Display tasks -->
                                                {% for task in tasks %}
                                                {% if task.profile == profile %}
                                                {% if task.start_date|date:'Y-m-d' <= date|date:'Y-m-d' %}
                                                {% if task.end_date|date:'Y-m-d' >= date|date:'Y-m-d' %}
                                                  <div 
                                                  class="task-bar d-block"
                                                  {% if task.end_date.day == date.day %}
                                                    {{ task.style }};border-bottom-right-radius:10px
                                                  {% else %}
                                                    {{ task.style }}
                                                  {% endif %}
                                                  >
                                                    {%if task.start_date.day == date.day %}
                                                      {{ task.title }}
                                                    {% else %}
                                                      &nbsp;
                                                    {% endif %}
                                                  </div>
                                                  <div class="task-info">
                                                    <div class="container">
                                                      <p class="d-block">
                                                        {{task.assignment}}
                                                      </p>  
                                                      <p class="d-block">
                                                        {{task.title}}
                                                      </p>  
                                                      {% if task.completed %}
                                                        <p 
                                                        class="h2 text-success"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_overdue %}
                                                        <p 
                                                        class="h2 text-danger"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_started %}
                                                        <p 
                                                        class="h2 text-warning"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% else %}
                                                        <p class="h2 text-dark">
                                                          {{task.completion}}%
                                                        </p>
                                                      {% endif %}
                                                    </div>
                                                  </div>
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <!-- End display tasks -->
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for date in d.row3 %}
                                            <td>
                                                <p class="text-right d-block">
                                                    {{ date.day }}
                                                </p>
                                                <!-- Display tasks -->
                                                {% for task in tasks %}
                                                {% if task.profile == profile %}
                                                {% if task.start_date|date:'Y-m-d' <= date|date:'Y-m-d' %}
                                                {% if task.end_date|date:'Y-m-d' >= date|date:'Y-m-d' %}
                                                  <div 
                                                  class="task-bar d-block"
                                                  {% if task.end_date.day == date.day %}
                                                    {{ task.style }};border-bottom-right-radius:10px
                                                  {% else %}
                                                    {{ task.style }}
                                                  {% endif %}
                                                  >
                                                    {%if task.start_date.day == date.day %}
                                                      {{ task.title }}
                                                    {% else %}
                                                      &nbsp;
                                                    {% endif %}
                                                  </div>
                                                  <div class="task-info">
                                                    <div class="container">
                                                      <p class="d-block">
                                                        {{task.assignment}}
                                                      </p>  
                                                      <p class="d-block">
                                                        {{task.title}}
                                                      </p>  
                                                      {% if task.completed %}
                                                        <p 
                                                        class="h2 text-success"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_overdue %}
                                                        <p 
                                                        class="h2 text-danger"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_started %}
                                                        <p 
                                                        class="h2 text-warning"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% else %}
                                                        <p class="h2 text-dark">
                                                          {{task.completion}}%
                                                        </p>
                                                      {% endif %}
                                                    </div>
                                                  </div>
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <!-- End display tasks -->
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for date in d.row4 %}
                                            <td>
                                                <p class="text-right d-block">
                                                    {{ date.day }}
                                                </p>
                                                <!-- Display tasks -->
                                                {% for task in tasks %}
                                                {% if task.profile == profile %}
                                                {% if task.start_date|date:'Y-m-d' <= date|date:'Y-m-d' %}
                                                {% if task.end_date|date:'Y-m-d' >= date|date:'Y-m-d' %}
                                                  <div 
                                                  class="task-bar d-block"
                                                  {% if task.end_date.day == date.day %}
                                                    {{ task.style }};border-bottom-right-radius:10px
                                                  {% else %}
                                                    {{ task.style }}
                                                  {% endif %}
                                                  >
                                                    {%if task.start_date.day == date.day %}
                                                      {{ task.title }}
                                                    {% else %}
                                                      &nbsp;
                                                    {% endif %}
                                                  </div>
                                                  <div class="task-info">
                                                    <div class="container">
                                                      <p class="d-block">
                                                        {{task.assignment}}
                                                      </p>  
                                                      <p class="d-block">
                                                        {{task.title}}
                                                      </p>  
                                                      {% if task.completed %}
                                                        <p 
                                                        class="h2 text-success"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_overdue %}
                                                        <p 
                                                        class="h2 text-danger"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% elif task.is_started %}
                                                        <p 
                                                        class="h2 text-warning"
                                                        >
                                                          {{task.completion}}%
                                                        </p>
                                                      {% else %}
                                                        <p class="h2 text-dark">
                                                          {{task.completion}}%
                                                        </p>
                                                      {% endif %}
                                                    </div>
                                                  </div>
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                <!-- End display tasks -->
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- End of calendar tab -->
                    
                </div>
            </section>
            <!-- End of the calendar area -->

          </div>
        {% endfor %}
    </div>
  </div>
  <!-- End of profile content area -->
  {% endif %}
</div>

<!-- Bespoke Scripts -->
<!-- <script src="{% static 'js/piechart.js' %}"></script> -->
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
