{% load humanize %} 
{% block content %}
<div class="panel-group" id="accordion-{{profile.id}}">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h5 class="panel-title">
            <a 
            class="deadline-bar" 
            data-toggle="collapse" 
            data-parent="#accordion-{{profile.id}}" 
            href="#upcoming-{{profile.id}}"
            >
                Upcoming
                <span class="float-right">
                    <i class="text-info fa fa-clock-o"></i>
                </span>
            </a>
        </h5>
        </div>
        <div 
        id="upcoming-{{profile.id}}" 
        class="panel-collapse collapse in active show" 
        data-parent="#accordion-{{profile.id}}"
        >
            <div class="panel-body">
                <div class="deadline-body">
                    {% for task in tasks %}
                      {% if task.profile == profile and task.is_upcoming %}
                            <p class="ml-2 d-block w-100">
                                <i class="text-info fa fa-clock-o"></i>
                                {{ task.title }}<br>
                                <span class="text-info ml-3">{{task.end_date| naturaltime}}</span>
                            </p>
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        <h5 class="panel-title">
            <a 
            class="deadline-bar" 
            data-toggle="collapse" 
            data-parent="#accordion-{{profile.id}}" 
            href="#overdue-{{profile.id}}"
            >
                Overdue
                <span class="float-right">
                    <i class="text-danger fa fa-exclamation"></i>
                </span>
            </a>
        </h5>
        </div>
        <div 
        id="overdue-{{profile.id}}" 
        class="panel-collapse collapse" 
        data-parent="#accordion-{{profile.id}}"
        >
            <div class="panel-body">
                <div class="deadline-body">
                    {% for task in tasks %}
                        {% if task.profile == profile and task.is_overdue %}
                        <p class="ml-2 d-block w-100">
                            <i class="text-danger fa fa-exclamation-circle"></i>
                            {{ task.title }}<br>
                            <span class="text-danger ml-3">{{task.end_date| naturaltime}}</span>
                        </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        <h5 class="panel-title">
            <a 
            class="deadline-bar" 
            data-toggle="collapse" 
            data-parent="#accordion-{{profile.id}}" 
            href="#complete-{{profile.id}}"
            >
                Complete
                <span class="float-right">
                    <i class="text-success fa fa-check"></i>
                </span>
            </a>
        </h5>
        </div>
        <div 
        id="complete-{{profile.id}}" 
        class="panel-collapse collapse" 
        data-parent="#accordion-{{profile.id}}"
        >
            <div class="panel-body">
                <div class="deadline-body">
                    {% for task in tasks %}
                        {% if task.profile == profile and task.completed %}
                        <p class="ml-2 d-block w-100">
                            <i class="text-success fa fa-check-circle"></i>
                            {{ task.title }}
                        </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}