{% block content %}
    <div id="greeting" class="text-center w-100" style="position:absolute">
        <div class="container">
            <h1 class="display-4" style="margin-top: 200px">
                Welcome, {{user.first_name}}
            </h1>

            <p class="mt-3">
                You haven't created any study profiles yet.<br/>
                Click the button below to get started.
            </p>

            <button 
            type="submit" 
            class="btn btn-warning" 
            data-toggle="modal" 
            data-target="#add-profile-modal"
            >
                Create Study Profile
            </button>
        </div>
    </div>
{% endblock %}