{% load static %}
{% block content %}
<!-- Rename Module Modal -->
<div id="rename-module-modal" class="modal fade" role="dialog">
        <div
         class="modal-dialog modal-dialog-centered modal-sm" 
         style="margin: 0 auto"
         >
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Start of modal header -->
                <div class="modal-header">
                  <h4 class="modal-title">Rename Module</h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>
                <!-- End of modal header -->
    
                <!-- Start of modal body -->
                <div class="modal-body">
                  
                    <form
                    id="rename-module-form"
                    action="{% url 'rename_module' %}" 
                    method="POST"
                    >
                        {% csrf_token %}
                        <input id="hidden-module-id-rename" type="hidden" name="moduleid" value="">
                        <div class="form-group">
                            <label for="newname">New Name</label>
                            <input
                            type="text"
                            class="form-control"
                            name="newname"
                            required
                            />
                        </div>

                        <button type="submit" class="btn btn-block btn-warning">
                          Submit
                        </button>
                    </form>

                </div>
                <!-- End of modal body  -->
            </div>
        </div>
    </div>
    <!-- End Rename Module modal -->


    <!-- {% block javascript %}
        <script src="{% static 'js/validation.js' %}"></script>

        <script>
            validate("#rename-module-form");
        </script>
    {% endblock %} -->
{% endblock %}